<article class="card">
    <div class="card-title">
        <h5>Educación</h5>
    </div>
    <div class="card-body">
        <div *ngFor="let edu of data">
            <p>
                <span class="text-negrita">{{edu.nombre}}</span>
            </p>
                <ul>
                    <li *ngFor="let data of edu.items">{{data}}</li>
                </ul>
        </div>
    </div>
    <div class="card">
        <button type="button" class="btn btn-primary btn-xs">Editar</button>
    </div>  
</article>