 
  <main class="form-signin ancho m-auto">
    <form data-bitwarden-watching="1">
      
      <h1 class="h3 mb-3 fw-normal">Ingresar</h1>
  
      <div class="form-floating">
        <input type="email" class="form-control" id="floatingInput" [formControl]="password" name="password"  placeholder="name@example.com">
        <label for="floatingInput">Email </label>
      </div>
      <div class="form-floating">
        <input type="password" class="form-control" id="floatingPassword"  [formControl]="email"  name="email" placeholder="Password">
        <label for="floatingPassword">Contraseña</label>
      </div>
  
      
      <button class="w-100 btn btn-lg btn-primary" type="submit" (click)="login()">Entrar</button>
      
    </form>
  </main>