<div class="row">
    <div class="col-2 perfil"></div>
    <div class="col-sm-8 container" id="info-perfil">
        <p class="nombrePersonal" >Gabriela Mejias Gispert</p>
        <!--Datos académicos-->
        <p class="info"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem est quam commodi dolor? Atque excepturi consequatur ut facere quos quas, alias enim incidunt omnis at et veniam quidem a doloremque?</p>
        <p class="text-secondary float-end">La Plata, Buenos Aires, Argentina</p>      
    </div>
</div>
