.perfil{   
    background-image: url("/assets/perfil.jpg");
    border-radius: 100%;
    position: relative;
    top: -81px;
    margin-bottom: -81px;
    border: solid 7px #fff;
    width: 172px;
    height: 200px;
    left: 36px;
    background-size: cover;
    background-position: initial;
}
.nombrePersonal{
    font-size: 24px;
    line-height: 58px;
    letter-spacing: 0.169em;
    font-weight: 500;
    font-style: italic;
}
.info{
    margin-bottom: 0;
    text-align: center;
    text-transform: capitalize;
    font-size: 1.7em;
    font-weight: 900;
    color: #fff;
    background-color: #205866;
    padding: 9px;
    border-radius: 30px;
}