<article class="card">
    <div class="card-title">    
        <h5>My Skills</h5>
    </div>
    <div class="card-body" style="margin-top: -1%;">
        <p>HTML</p>
        <div class="container">
          <div class="skills html" style="width: 10%; background-color: #8c1c07;">10%</div>
          </div>
        
        <p>CSS</p>
        <div class="container">
          <div class="skills css" style="width: 80%; background-color: #d97834;">80%</div>
        </div>
        
        <p>JavaScript</p>
        <div class="container">
          <div class="skills js" style="width: 65%; background-color: #b79100;">65%</div>
        </div>
        
        <p>PHP</p>
        <div class="container">
          <div class="skills php" style="width: 60%; background-color: #4e629d;" >60%</div>
        </div>
    </div>
</article>