<app-header></app-header>
<main class="container">
 <app-presentacion></app-presentacion>
  <section id="cv">
      <article class="card">
          <div class="card-title">
              <h5>Acerca de</h5>
          </div>
          <div class="card-body"></div>
          <!--info profecional resumida-->
      </article>
      <article class="card">
          <div class="card-title">
              <h5>Experiencia</h5>
          </div>
          <div class="card-body"></div>
          <!--Datos de los lugares donde he trabajado, experiencia, puesto, logos-->
      </article>
      <article>
          <div class="card-title">
              <h5>Educación</h5>
          </div>
          <div class="card-body">
              <!--INformacion académica-->
          </div>
      </article>
  </section>
</main>


<router-outlet></router-outlet>
