.card-title > h5 {
    padding: 7px;
    background-color: #d97834;
    width: 29%;
    border-radius: 0 0 0 20px;
    float: right;
    text-align: center;
    color: #fff;
}
.card{
    border-color: #d97834;
    border-width: 3px;
    margin-bottom: 12px;
}
img{
    border-radius: 100%;
    margin-right: 5px;
    float: left;
    min-width: 60px;
}
.item{
    clear: both;
    padding-top: 7px;
}